{## ----------------------------------------------------------------------------- GE_TEMPLATE (migrated)
   Layout-only: this template expects fully-populated context from matrixlayout.ge.ge_tex.
   Jinja2 delimiter scheme matches legacy nicematrix.py:
     - blocks:   {%% ... %%}
     - comments: {## ... ##}
     - vars:     {{ ... }}
##}
\documentclass[notitlepage]{article}
\pagestyle{empty}
\usepackage[margin=0cm,paperwidth=90in]{geometry}

\usepackage{mathtools}
\usepackage{graphicx}
\usepackage[table,svgnames]{xcolor}

\usepackage{nicematrix,tikz}
\usetikzlibrary{calc,fit,decorations.markings}

{%% if landscape %%}
\usepackage{pdflscape}
{%% endif %%}

% ----------------------------------------------------------------------------- utility
\newcommand*{\colorboxed}{}
\def\colorboxed#1#{%
  \colorboxedAux{#1}%
}
\newcommand*{\colorboxedAux}[3]{%
  \begingroup
    \colorlet{cb@saved}{.}%
    \color#1{#2}%
    \boxed{%
      \color{cb@saved}%
      #3%
    }%
  \endgroup
}

% ----------------------------------------------------------------------------- caller preamble hook
{{ preamble }}

\begin{document}\begin{minipage}{\textwidth}

{%% if landscape %%}
\begin{landscape}
{%% endif %%}

% ============================================================================ NiceArray
{{ scale_open }}$%
\begin{ {{- array_env -}} }[vlines-in-sub-matrix = I]{ {{- mat_format -}} }%

{%% for line in codebefore %%}
{{ line }}
{%% endfor %%}

{{ mat_rep }}
\CodeAfter

{%% for line in codeafter %%}
{{ line }}
{%% endfor %%}

{%% for opts, first, last in submatrix_triples %%}
\SubMatrix{%% if opts %%}[{{ opts }}]{%% endif %%}({{ first }})({{ last }})
{%% endfor %%}

{%% for line in submatrix_names %%}
{{ line }}
{%% endfor %%}

\begin{tikzpicture}
    \begin{scope}[every node/.style = draw]
{%% for fit_target, extra_style in pivot_locs %%}
        \node[fit={{ fit_target }}{%% if extra_style %%},{{ extra_style }}{%% endif %%}] {};
{%% endfor %%}
    \end{scope}

{%% for coord, txt, style in txt_with_locs %%}
    \node[{%% if style %%}{{ style }}{%% endif %%}] at {{ coord }} { {{ txt }} };
{%% endfor %%}

{%% for p in rowechelon_paths %%}
{{ p }}
{%% endfor %%}
\end{tikzpicture}

\end{ {{- array_env -}} }$%
{{ scale_close }}

{%% if landscape %%}
\end{landscape}
{%% endif %%}

\end{minipage}\end{document}
