\documentclass[notitlepage]{article}
\pagestyle{empty}
\usepackage[margin=0cm,paperwidth=90in]{geometry}

\usepackage{mathtools}
{%% if landscape %%}
\usepackage{pdflscape}
{%% endif %%}
\usepackage{graphicx}
\usepackage[table,svgnames]{xcolor}
\usepackage{nicematrix,tikz}
\usetikzlibrary{calc,fit,decorations.markings}

\newcommand*{\colorboxed}{}
\def\colorboxed#1#{%
  \colorboxedAux{#1}%
}
\newcommand*{\colorboxedAux}[3]{%
  % #1: optional argument for color model
  % #2: color specification
  % #3: formula
  \begingroup
    \colorlet{cb@saved}{.}%
    \color#1{#2}%
    \boxed{%
      \color{cb@saved}%
      #3%
    }%
  \endgroup
}

% ---------------------------------------------------------------------------- extension
{{extension}}
\begin{document}\begin{minipage}{\textwidth}
{%% if landscape %%}\begin{landscape}{%% endif %%}
{%% if fig_scale %%}
{{fig_scale}}
{%% endif %%}
% ---------------------------------------------------------------------------- preamble
{{preamble}}%
% ============================================================================ NiceArray
$\begin{NiceArray}[vlines-in-sub-matrix = I]{{mat_format}}{{mat_options}}%
{%% if codebefore != [] -%%}
\CodeBefore [create-cell-nodes]
    {%% for entry in codebefore: -%%}
    {{entry}}
    {%% endfor -%%}%
\Body
{%% endif -%%}
{{mat_rep}}
\CodeAfter %[ sub-matrix / extra-height=2mm, sub-matrix / xshift=2mm ]
% --------------------------------------------------------------------------- submatrix delimiters
    {%% for loc in submatrix_locs: -%%}
          {%% if loc[0] %%}\SubMatrix[{{loc[0]}}]({{loc[1]}})({{loc[2]}}){%% else %%}\SubMatrix({{loc[1]}})({{loc[2]}}){%% endif %%}
    {%% endfor -%%}
    {%% for txt in submatrix_names: -%%}
          {{txt}}
    {%% endfor -%%}
% --------------------------------------------------------------------------- pivot outlines
\begin{tikzpicture}
    \begin{scope}[every node/.style = draw]
    {%% for loc in pivot_locs: -%%}
        \node [draw,{{loc[1]}},fit = {{loc[0]}}]  {} ;
    {%% endfor -%%}
    \end{scope}
%
% --------------------------------------------------------------------------- explanatory text
    {%% for loc,txt,c in txt_with_locs: -%%}
        \node [right,align=left,color={{c}}] at {{loc}}  {\qquad {{txt}} } ;
    {%% endfor -%%}
%
% --------------------------------------------------------------------------- row echelon form path
    {%% for t in rowechelon_paths %%} {{t}}
    {%% endfor -%%}
\end{tikzpicture}
\end{NiceArray}$
{%% if fig_scale %%}
}
{%% endif %%}
{%% if landscape %%}\end{landscape}{%% endif %%}
\end{minipage}\end{document}
